* {
  margin: 0;
}

html{
  background-color: white;
  background-color: #27b86d;
  background-image: radial-gradient(circle, #81e6b1 20%, transparent 10%), radial-gradient(circle, #81e6b1 20%, transparent 10%);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;

}

body{
  overflow-x: hidden;
}

header{
  position: relative;
  background: rgb(133,133,141);
  background: repeating-linear-gradient(180deg, rgb(165, 142, 113) 3%, rgb(168, 115, 65) 8%, rgb(228, 118, 85) 13%, rgb(241, 105, 105) 16%, rgb(150, 82, 82) 32%);
  width: 100%;
    height: 130px;
}



nav{
width: 100%;
height: 80%;
top: 0;
background-color: rgb(130, 216, 238);
position: absolute;
z-index: 2;

}

#logo{
  margin-top: 20px;
  margin-left: 20px;
  height: 80px;
  width: 400px;
float: left;  
}

#pine{
  width: 0;
height: 0;
border-style: solid;
border-width: 0 31px 98px 31px;
border-color: transparent transparent #185920 transparent;
position: absolute;
margin-top: 6px;
  right: -82px;
  z-index: -1;
  border-radius: 10px;
  animation: cloud 9s;
  animation-iteration-count: infinite;

  animation-delay: 3s;

}

#pine2{
width: 0;
height: 0;
border-style: solid;
border-width: 0 31px 77px 31px;
border-color: transparent transparent #185920 transparent;
right: -82px;
margin-top: 30px;
position: absolute;
  margin-right: -23px;
  float: right;
  z-index: 1;
  border-radius: 10px;
  animation: cloud 9s;
  animation-iteration-count: infinite;

  animation-delay: 5s;

}

#bush{
  right: -82px;
  margin-top: 54px;
  width: 0;
height: 0;
border-style: solid;
border-width: 0 21px 53px 21px;
border-color: transparent transparent #2da33b transparent;

position: absolute;
  margin-right: -23px;
  float: right;
  z-index: 1;
  border-radius: 10px;
  animation: cloud 9s;
  animation-iteration-count: infinite;
  animation-delay: 7s;


}


#logoImage{
position: relative;
  height: 100%;
width: 157px;
background-color: transparent;
float: left;
background: url(../img/logo.png) no-repeat  ; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
margin-top: 18px;
animation: car 4s;
animation-iteration-count: infinite;
z-index: 3;
}

#cloud{
  position: absolute;
  height: 20px;
  width: 30px;
  background-color: #ffffff;
  float: right;
  z-index: 1;
  border-radius: 10px;
  animation: cloud 9s;
  animation-iteration-count: infinite;
}

#cloud2{
  margin-top: 7px;
  margin-left: -80px;
  position: absolute;
  height: 30px;
  width: 48px;
  background-color: #ffffff;

  z-index: 1;
  border-radius: 19px;
  animation: cloud 9s;
  animation-iteration-count: infinite;
  animation-delay: 4s;

}

#cloud3{
  margin-top: 7px;
  margin-left: -80px;
  position: absolute;
  height: 50px;
  width: 78px;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 29px;
  animation: cloud 9s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

#logoText{
  margin-left: 10px;
float: left;
line-height: 80px;
}

main{
  position: relative;
text-align: center;
float: left;
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;

  height:auto;
min-height: 400px;

}



#sideline{
  position: absolute;
  width: 20%;
  background-color: transparent;
  float: left;
  top: 0;
  bottom: 0;

}

#sidelineHead{

      font-size: 41px;
      -webkit-text-stroke-width: 0.6px;
      -webkit-text-stroke-color: #000000;
      -webkit-text-fill-color: #00a7f5;
      font-family: 'Courier New', Courier, monospace;

}

#sidelineList{
  width: 95%;
  height: 20px;
  margin-left: 2%;

}

.sidelinePics{
  height: 55px;
  width: 55px;
  background-color: violet;
  float: left;
  border: solid ghostwhite 3px;
}

#img1{
  background: url(../img/bag.jpg) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#img2{
  background: url(../img/banana.jpg) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#img3{
  background: url(../img/bathroom.jpg)no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#img4{
  background: url(../img/boots.jpg) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#img5{
  background: url(../img/breakfast.jpg) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#img6{
  background: url(../img/bubblegum.jpg) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#img7{
  background: url(../img/chair.jpg) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#img8{
  background: url(../img/cthulhu.jpg)no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

}

#img9{
  background: url(../img/dog-duck.jpg) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#img10{
  background: url(../img/dragon.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img20{
  background: url(../img/wine-glass.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img11{
  background: url(../img/pen.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img12{
  background: url(../img/pet-sweep.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img13{
  background: url(../img/scissors.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img14{
  background: url(../img/shark.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img15{
  background: url(../img/sweep.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img16{
  background: url(../img/tauntaun.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img17{
  background: url(../img/unicorn.jpg)no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img18{
  background: url(../img/usb.gif) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img19{
  background: url(../img/water-can.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#otherSide{
  background-color: transparent;
  width: 80%;
  float: right;
}

#picRow{
  top: 0;
  width: 100%;
  background-color: transparent;
  min-height: 300px;
}

.or{
  background-color: transparent;
  min-height: 300px;
float: left;
  width: 5%;
}


#pic1{
min-height: 300px;
background-color: darkred;
width: 30%;
min-width: 30%;
float: left;
/* background: url(../img/bussHolder.png) no-repeat  ;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#pic2{
  min-height: 300px;
background-color: rgb(0, 56, 139);
width: 30%;
float: left;
background: url(../img/bussHolder.png) no-repeat  ; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
#pic3{
  min-height: 300px;

width: 30%;
float: left;
background: url(../img/bussHolder.png); 
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

#infoPic1{
  text-align: center;
  float: left;
  width: 30%;
  background-color: khaki;
  font-size: 29px;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-fill-color: #00a7f5;
  font-family: 'Courier New', Courier, monospace;
}


#infoPic2{
  text-align: center;
  float: left;
  width: 30%;
  background-color: khaki;
  font-size: 29px;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-fill-color: #00a7f5;
  font-family: 'Courier New', Courier, monospace;
  }


#infoPic3{
  text-align: center;
  float: left;
  width: 30%;
  background-color: khaki;
  font-size: 29px;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-fill-color: #00a7f5;
  font-family: 'Courier New', Courier, monospace;
}

.spacerInf{
  width: 5%;
  float: left;
  color: transparent;
  background-color: transparent;
}


#spacerRow{
  margin-top: 0px;
  background-color: transparent;
  height: 60px;
  width: 100%;
}

#infoRow{
  margin-top: 0px;
  background-color: transparent;
  width: 100%;
}


#footerDiv{

  height: 60px;
  width: 100%;  
  background-color: transparent;
bottom: 0px;
}

@keyframes car {
  0%   {margin-top: 18px;}
  25%  {margin-top: 22px;}
  50%  {margin-top: 16px; margin-left: 3px;}
  100% {margin-top: 18px;
        margin-left: 0px;
      }
}

@keyframes cloud {
  from   {right: 0px;}
  to {right: 110% }
}
